/* ==========================================================================
   Home page
   ========================================================================== */

.hero-header {
    overflow: auto;
    color: inherit;
    padding: 1rem 0;
}

.home-section {
    padding: 2rem 0;
}

/* ==========================================================================
   Badges
   ========================================================================== */

.badge {
    position: relative;
    overflow: hidden;
    @include border-radius(50%);
    margin-bottom: 2rem;
}

.badge--big {
    display: table;
    width: 30vw;
    height: 30vw;
    max-width: 350px;
    max-height: 350px;
    min-width: 240px;
    min-height: 240px;
    margin: 0 auto 2rem;
    padding: 12px;
    text-align: center;

    @media #{$medium-up}{
      margin: 0 0 2rem;
    }
    
}

.badge--medium {
    display: table;
    width: 30vw;
    height: 30vw;
    max-width: 260px;
    max-height: 260px;
    padding: 12px;
    border: 35px solid transparent;
    background-color: $azure;
    text-align: center;
}

.badge--purple {
    border-width: 25px;
    border-style: solid;
    background-color: nth($palette-1, 5);
    border-color: $white;

     @media #{$large-up}{
      border-width: 35px;
    }
}

.badge--brown {
    background-color: $brown;
    border-color: transparent;

    @media #{$medium-up}{
      float: right;
    }
}

.badge--dark {
    border-width: 30px;
    border-style: solid;
    background-color: $white;
    border-color: $green;

     @media #{$large-up}{
      border-width: 35px;
    }
}

.badge--fiorentina {
    width: 150px;
    height: 150px;
    border: 22px solid $purple;
}

.badge__image {}

.badge__paragraph {
    // width: 100%;
    // @include col-cstm(50%, 2);
    display: table-cell;
    vertical-align: middle;
    position: relative;
    font-size: 1rem;
    font-family: $body-alt-font-family;
    line-height: initial;
    font-weight: bold;
    color: $secondary-text;

     @media #{$large-up}{
      font-size: 1.4rem;
    }
}

.badge__paragraph--bio {
    font-family: $body-font-family;
    @media #{$large-up}{
      font-size: 1.2rem;
    }
}

/* ==========================================================================
   TONDO CUSTOM CLASSES
   ========================================================================== */

.tondo--dark {
    font-size: 20px;
    font-family: $body-alt-font-family;

    textPath{
        fill: $secondary-text;
        font-weight: bold;
    }
}


.tondo--purple {
    font-size: 18px;
    font-family: $header-font-family;
    text-transform: uppercase;

    textPath{
        fill: nth($palette-1, 5);
    }

    @media #{$large-up}{
      font-size: 26px;
    }
}


.tondo--brown {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: $body-font-family;

    textPath{
        fill: $yellow;
    }

    @media #{$large-up}{
      font-size: 2rem;
    }
}

.textPath-small{
    font-size: 1rem;
}

/* ==========================================================================
   GITHUB ROUND BADGE
   ========================================================================== */

.github-round-badge {
    display: inline-block;
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    @include border-radius(50%);
    @include box_shadow(1);
    background-color: $primary-color;
    @include single-transition();

    &:hover{
        @include box_shadow(3);
    }

    &:active{
        box-shadow: none;
    }

    svg {
        vertical-align: middle;
        margin-top: -2px;
    }

    @media #{$medium-up}{
       background-color: $white; 
       width: 75px;
       height: 75px;
       line-height: 75px;
    }

    @media #{$large-up}{
       width: 90px;
       height: 90px;
       line-height: 90px;
    }
}

.tondo-github__up, .tondo-github__down {
    
    visibility: hidden;
    fill: $primary-color;
    text-transform: uppercase;

    @media #{$medium-up}{
       visibility: visible;  
       font-size: 12px;
    }

    @media #{$large-up}{
       font-size: 14px;
    }
}

.tondo-github__up { 
}

.tondo-github__down {
}
/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

.white {
    color: #FFFFFF !important;
}

.gray {
    color: $gray;
}