@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Cardo:400,400italic,700);

$body-bg-color: #F2EEEB;

$primary-text: rgba(0,0,0,.84);
$secondary-text: rgba(0,0,0,.6);

$header-custom-font-family: 'Carrois Gothic SC', sans-serif;
$body-custom-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-alt-font-family: 'Cardo', serif;

$palette-1: #F1F2EB, #06D6A0, #6B6D5E, #4B77BE, #8E44AD;

$purple: nth($palette-1, 5);
$azure: nth($palette-1, 4);
$gray: nth($palette-1, 3);
$green: nth($palette-1, 2);
$light-gray: nth($palette-1, 1);

$brown: #8b4513;
$yellow: #F4B350;

$header-font-color: $purple;