/* ==========================================================================
   Home page
   ========================================================================== */

body {
    font-family: $body-font-family;
    font-size: 1rem;
    line-height: 1.4;
    background-color: $body-bg-color;
    color: $primary-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
    color: inherit;
}

.hero-header {
    overflow: auto;
    color: inherit;
    padding: 1rem 0;
}

.row {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.75rem;

    &::before, &::after {
        content: '';
        display: table;
    }

    &::after {
       clear: both; 
    }

}

dt,
dd {
    float: left
}

dt {
    position: relative;
    clear: both
}


/* ==========================================================================
   UTILITIES
   ========================================================================== */

.white {
    color: #FFFFFF !important;
}

.gray {
    color: $gray;
}