/* ==========================================================================
   TONDO DEFAULT CLASSES
   ========================================================================== */

.tondo {
	position: absolute;
	top: 0;
	overflow: visible;
	fill: transparent;
	pointer-events: none;
	will-change: transform;
	visibility: hidden;
}

.tondo--loaded {
	visibility: visible;
}