@import url(https://fonts.googleapis.com/css?family=Francois+One|Prata);

$body-bg-color: #F2EEEB;

$purple: #674172;

$header-font-family: 'Francois One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-color: $purple;
$body-alt-family: Prata, Monaco, serif;